 body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}
#calculator{
    background-color: hsl(0, 0%, 10%);
    border-radius: 20px;
    width: 500px;
    overflow: hidden;
    transform: scale(0.5);
}
#display{
    width: 500px;
    padding: 20px;
    background-color: hsl(0, 0%, 28%);
    font-size: 50px;
    color: white;
    text-align: left;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 3rem;
    border: 0px;
    background-color:hsl(0, 0%, 40%);
    color: white;
    cursor: pointer;
    font-weight: bold;
}
button:hover{
    background-color:hsl(0, 0%, 70%);
}
button:active{
    background-color:hsl(0, 0%, 100%);
}
.btn{
    background-color: rgb(255, 204, 0);
}
.btn:hover{
    background-color: rgb(225, 198, 146);
}
.btn:hover{
    background-color: rgb(225, 198, 166);
} 